---

const { id, company, position, url, start, end, resume } = Astro.props;

const convertirFecha = (textoFecha) => {
  if (textoFecha == "NOW") return "Actual";

  const meses = [
    "Enero",
    "Febrero",
    "Marzo",
    "Abril",
    "Mayo",
    "Junio",
    "Julio",
    "Agosto",
    "Septiembre",
    "Octubre",
    "Noviembre",
    "Diciembre",
  ];

  const [anio, mes] = textoFecha.split("-");
  const nombreMes = meses[parseInt(mes, 10) - 1];
  const fechaFormateada = `${nombreMes} ${anio}`;

  return fechaFormateada;
};
---

<li class="mb-10 ms-4">
  <div
    class="absolute w-3 h-3 bg-slate-800 border-slate-700 dark:bg-slate-200 rounded-full mt-1.5 -start-1.5 border dark:border-white"
  >
  </div>
  <div class="mb-1 text-sm font-normal leading-none text-slate-600 dark:text-slate-400">
    <time>{convertirFecha(start)}</time>
    <span>~</span>
    <time>{convertirFecha(end)}</time>
  </div>
  <h3 class="text-lg font-semibold text-slate-600 dark:text-white">
    {company}
  </h3>
  <h4 class="text-md font-semibold text-slate-500 dark:text-slate-400">
    {position}
  </h4>
  <p class="mb-4 text-base font-normal text-slate-400 dark:text-slate-300">
    {resume}
  </p>
</li>

